body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    padding-top: 15px;
}

#currNum {
    font-size: 2em;
}

.stat {
    width: 100%;
    padding: auto;
    height: 30px;
    margin: 5px;
    text-align: center;
}

.error {
    color: red;
    border: 1px solid red;
    background-color: palevioletred;
    display: none;
}

@media screen and (max-width: 900px) {
    body {
        width: 90%;
    }
    #currNum {
        font-size: 1em;
    }
}