doctype html
html
    head
        title Distributed Calculation
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href='/style/foundation.css', rel='stylesheet')
        link(href='/style/style.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous" defer)
        script(src="/socket.io/socket.io.js" defer)
        script(src="/client/calculator.js" defer)
        script(src="/client/foundation.js" defer)
    body
        h1 Its Prime-Time!
        p Welcome to Prime Time, a Project that calculates Prime numbers for no reason!
        div(class="grid-x")
            div(class="cell small-6")
                span You are currently processing number:&nbsp;
                span(id="currNum" class="secondary label")
            div(class="cell small-6" id="statistics")
                span Here are some Statistics:
                br
                span(id="persScore" class="primary label stat")
                br
                span(id="overallScore" class="primary label stat")
                br
                div(class="primary progress stat" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="50" id="contrContainer")
                    div(class="progress-meter" id="contrBar")


