doctype html
html
    head
        title Distributed Calculation
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href='/style/foundation.css', rel='stylesheet')
        link(href='/style/style.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous" defer)
        script(src="/socket.io/socket.io.js" defer)
        script(src="/client/common.js" defer)
        script(src="/client/foundation.js" defer)
        script(src="/client/what-input.js" defer)
    body
        h1 Its Prime-Time!
        p Welcome to Prime Time, a Project that calculates Prime numbers for no reason!
        div(class="grid-x")
            div(class="cell small-5")
                h3 Log In
                form(id="loginForm" action="/acc/login" method="POST")
                    label Input Label
                        input(type="text" name="email" id="loginEmail" placeholder="john@doe.com")
                    label Password Required
                        input(type="password" name="password" id="password" placeholder="Password" required)
                        span(class="form-error") I'm required!
                    button(class="button" type="submit" value="Log In") Log In
            div(class="cell small-2")
            div(class="cell small-5")
                h3 Create Account
                form(id="newAccForm" action="/acc/newAcc" method="POST" data-abide novalidate)
                    label Input Label
                        input(type="text" name="email" id="newAccEmail" placeholder="john@doe.com" aria-describedby="emailHelpText")
                        p(class="help-text" id="emailHelpText") Please provide your e-Mail address for identification.
                    label Password Required
                        input(type="password" name="password" id="newAccPassword" placeholder="Password" aria-describedby="exampleHelpText" required)
                        span(class="form-error") I'm required!
                    label Re-enter Password
                        input(type="password" id="newAccPasswordConfirm" placeholder="Password" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="newAccPassword")
                        span(class="error" id="pwMatchErr") Passwords dont match!
                    input(class="button" id="subNewAcc" type="submit" value="Create Account")


